@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%; /* Warna hitam dengan sedikit terang */
    --foreground: 0 0% 91%; /* Warna abu-abu tua */

    --muted: 0 0% 11%; /* Warna abu-abu tua dengan sedikit terang */
    --muted-foreground: 0 0% 56.9%; /* Warna abu-abu tua dengan sedikit terang */

    --accent: 0 0% 17%; /* Warna abu-abu tua */
    --accent-foreground: 0 0% 98%; /* Warna putih */

    --popover: 0 0% 4%; /* Warna hitam dengan sedikit terang */
    --popover-foreground: 0 0% 65.1%; /* Warna abu-abu tua */

    --border: 0 0% 17%; /* Warna abu-abu tua */
    --input: 0 0% 17%; /* Warna abu-abu tua */

    --card: 0 0% 4%; /* Warna hitam dengan sedikit terang */
    --card-foreground: 0 0% 91%; /* Warna abu-abu tua */

    --primary: 0 0% 98%; /* Warna putih */
    --primary-foreground: 0 0% 1.2%; /* Warna hitam dengan sedikit terang */

    --secondary: 0 0% 11.2%; /* Warna abu-abu tua */
    --secondary-foreground: 0 0% 98%; /* Warna putih */

    --destructive: 0 63% 31%; /* Warna merah tua */
    --destructive-foreground: 0 0% 98%; /* Warna putih */

    --ring: 0 0% 17%; /* Warna abu-abu tua */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-family: Arial, Helvetica, sans-serif;
  }
}
